<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 mb-4 p-5">
            <div class="col">
              <div class="card card-img-top shadow p-1 mb-5 bg-body rounded">
                <img src={{movie.img_link}} class="card-img-top wrapimg" alt="...">
                <div class="card-body">
                  <h1 class="card-title">{{movie.movie_name}}</h1>
                  <h4 class="card-description">Telugu Movie . U/A</h4>
                  <h3>Tickets Available:{{Ticketscheck}}</h3>
               </div>
               </div>
              </div>
            <div class = " container p-10 " id="book">
              <form #userForm="ngForm"  (ngSubmit)="bookingForm(userForm,movie.id);">
                  <div class="mb-3 form-group">
                      <label for="username" class="form-label">Your Name</label>
                      <input type="text" class="form-control" id="username" 
                          name="username" ngModel required #username="ngModel"/>
                      <div id="userhelp1" class="form-text" *ngIf="username.touched && !username.valid">please enter your name</div>
                  </div>
                  <div class="mb-3 form-group">
                    <label for="mobile" class="form-label">Mobile Number</label>
                    <input type="text" class="form-control" id="mobile" 
                        name="mobile" ngModel required #mobile="ngModel"/>
                    <div id="userhelp1" class="form-text" *ngIf="mobile.touched && !mobile.valid">please enter your mobile number</div>
                </div>
                <div class="mb-3 form-group">
                  <label for="date" class="form-label">Select Date </label>
                  <input type="date" class="form-control" id="date" 
                      name="date" ngModel required #mobile="ngModel"/>
              </div>
                  <div class="mb-3 form-group">
                    <label for="MovieTime" formControlName="timings">Select Show Time</label>
                    <select [(ngModel)]="movietime" class="form-select" id="MovieTime" name="MovieTime">
                      <option value="10 am">10 am</option>
                      <option value="1 pm">1 pm</option>
                      <option value="3:30 pm">3:30 pm</option>
                      <option value="6 pm">6 pm</option>
                      <option value="9 pm">9 pm</option>
                    </select>
                  </div>
                  <div class="mb-3 form-group">
                    <label for="TotalTickets" class="form-label">How many seats?</label>
                    <input type="number" class="form-control" id="TotalTickets" 
                        name="TotalTickets" ngModel required #TotalTickets="ngModel"/>
                        <div class="form-text" *ngIf="[(Ticketscheck)]<TotalTickets.value">Available tickets are {{Ticketscheck}} </div> 
                        <div class="form-text" *ngIf="!TotalTickets.valid">please enter no of tickets</div> 
                  </div>
                  <div class="col text-center">
                    <button  type="submit" class="btn btn-success" [disabled]="!userForm.valid || [(Ticketscheck)]<TotalTickets.value ||  TotalTickets.value <= 0">Submit</button>
                   </div>
                </form>
                 </div>  
           </div>
      </div>
          
    
    
    
    
    
    
