.container{
    /* width:400px;
    height: auto;
    text-align: center;
    background-color: rgb(105, 50, 156);  */
    padding: 5px;
    margin-top: 1px;
}
#col{
     width:400px;
     height: 450px;
    text-align: center;
    /* background-color: rgb(105, 50, 156);   */
    background-color: #B1AFFF;
    margin: 10px;
    border-radius: 5px;
    padding: 1px;
} 
.container h3{
    color:#FB2576;
    font-size: 1.5em;
}
.inp{
    padding: 8px;
    margin: 3px 5px;
    display: flex;
    align-items: center;

}
button{
    position: fixed;
    top: 50px;
    right: 30px;
}
